@media screen and (max-width: 600px) {
  .bg-illustration.mobile {
    display: block;
  }

  .bg-illustration.desktop {
    display: none;
  }

  .card {
    width: 325px;
    margin-top: 72px;
  }

  .card .content {
    padding: 32px 25px;
  }

  .card header h1 {
    font-size: 22px;
    line-height: 29px;
  }

  button.proceed {
    margin-top: 35px;
  }
}
